.root {
  display: flex;
  justify-content: center;
}
#input{
  width: 300px;
  height: 30px;
  border-width: 4px;
  border-radius: 4px;
}
#rotate{
  display: none;
  margin-top: 10px;
}
#triangleField{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button{
  display: flex;
  justify-content: center;
}